[[redirects]]
  from = "/surge-proxy/*"
  to = "https://surge.surge.sh/:splat"
  host = "surge.surge.sh"
  status = 200
  force = true
[[headers]]
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
